
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    }
    
    
    body {
       

        background: -webkit-linear-gradient(left,rgba(242, 242, 242, 1),rgba(242, 242, 242, 1));
    
    }
    
   
    .container {
    
        position: absolute;
        max-width:800px;
        height:500px;
        margin: auto;
        
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%); 
        transition: all 0.6s ease-in-out;
    
    }



    .myRightCtn {
    
        position: relative;
        background: -webkit-linear-gradient(left,rgba(9, 32, 63, 1), rgba(83, 120, 149, 1));
        height:61vh !important;
        padding: 40px;
        padding-top: 80px;
        padding-left: 50px;
        justify-content: center;
        align-items:center ; 
        margin-bottom: 100px;
        height: 100% !important; 
    }

   
    
   
    
    .myLeftCtn {
    
        position: relative;
        background: -webkit-linear-gradient(left,rgba(9, 32, 63, 1), rgba(83, 120, 149, 1));
        height:61vh;
        padding: 50px;
        padding-left: 50px;
        
        justify-content: center;
        align-items:center ; 
        height: 100%;
       
        }
    
    
    
        .myLeftCtn header{
            color: #fff;
         font-size: 24;
         font-weight: 700;
         margin-bottom: 20px;  
            }
           
            .row{
                height: 100%;
            }
    
    
           
    
        .myRightCtn header {
            color: #fff;
            font-size: 44;
            font-weight: 700;
            margin-bottom: 20px; 
        }
        

        .myLeftCtn .myInput {
            width: 230px;
            color:black;
            border-radius: 25px;
            box-shadow: 20px 20px 50px grey;
            padding: 10px;
            padding-left: 50;
            border:none;
            -webkit-box-shadow:0px 10px 49px -10px rgba (0,0,0,0.7);
            -moz-box-shadow: 0px 10px 49px -10px    rgba (0,0,0,0.7);
            box-shadow: 0px 10px 49px -10px    rgba (0,0,0,0.7);  
                }


        .myRightCtn .myInput {
            width: 230px;
            color:black;
            border-radius: 25px;
            padding: 10px;
            padding-left: 50;
            border:none;               
                   
            -webkit-box-shadow:0px 10px 49px -10px rgba (0,0,0,0.7);
            -moz-box-shadow: 0px 10px 49px -10px    rgba (0,0,0,0.7);
            box-shadow: 0px 10px 49px -10px    rgba (0,0,0,0.7);        
               }



        .myLeftCtn  .myInput:focus {
            outline: none;
        }


        .myRightCtn  .myInput:focus {
            outline: none;
        }



        .myForm {
            position: relative;
            margin-top: 50;
        }

        .myForm {
            position: relative;
            margin-top: 50;
        }

       


        .myLeftCtn  .button {
            background: -webkit-linear-gradient(left,rgba(9, 32, 63, 1), rgba(83, 120, 149, 1));
            color: #fff;
            width: 200px;
            border:none;
            border-radius: 25px;
            padding: 7px 7px 7px 7px;

            -webkit-box-shadow:0px 10px 41px -11px rgba (0,0,0,0.7);
            -moz-box-shadow: 0px 10px 41px -11px    rgba (0,0,0,0.7);
            box-shadow: 0px 10px 41px -11px    rgba (0,0,0,0.7);  

        }

        .myLeftCtn .button:focus{
            outline: none;
        }


        .myRightCtn  .button {
            background: linear-gradient(#fff);
            color: black;
            width: 120px;
            border:none;
            border-radius: 25px;
            -webkit-box-shadow:0px 10px 41px -11px rgba (0,0,0,0.7);
            -moz-box-shadow: 0px 10px 41px -11px    rgba (0,0,0,0.7);
            box-shadow: 0px 10px 41px -11px    rgba (0,0,0,0.7);  

        }


        .myLeftCtn   .button:hover {
            background: linear-gradient(silver, silver);
        }



    .navbar {
        background: -webkit-linear-gradient(left,rgba(9, 32, 63, 1), rgba(83, 120, 149, 1));
        padding: .8rem ;    
    }

    .navbar-nav li {
        padding-right: 20px;
      
    }

    h2 {
        color: #fff;
    }

    .nav-link {
        font-size: 1.1em !important;
        font-weight: bold;
    }
    
    h3 {
        font-size: 44;
        font-weight: 700;
        color: #708090;

        margin-top: 10px;
    }

    h6 {
       
        font-weight: 700;
        color: #708090;

        padding-top:20px;
    }
   
    h5{
        
        font-weight: 700;
        color: #708090;
    }

    .card-header {
        font-weight: 700;
        color:#708090
    }


    .Start_End .myInput{

        width: 230px;
        color:black;
        border-radius: 25px;
        box-shadow: 20px 20px 40px grey;
        padding: 10px;
        padding-left: 50;
        border:none;
        -webkit-box-shadow:0px 10px 49px -10px rgba (0,0,0,0.7);
        -moz-box-shadow: 0px 10px 49px -10px    rgba (0,0,0,0.7);
        box-shadow: 0px 10px 49px -10px    rgba (0,0,0,0.7);  
    }


    .Start_End  .btn {
        background: linear-gradient(slategray, slategray);
        color: #fff;
        width: 200px;
        border:none;
        border-radius: 25px;
        padding: 7px 7px 7px 7px;
        margin-top: 35px;
        margin-left: 20px;
        -webkit-box-shadow:0px 10px 41px -11px rgba (0,0,0,0.7);
        -moz-box-shadow: 0px 10px 41px -11px    rgba (0,0,0,0.7);
        box-shadow: 0px 10px 41px -11px    rgba (0,0,0,0.7);  
    }

    .card{
        border-radius: 25px;
    }

    .card .card-header{
        border-radius: 25px;
    }

    .Start_End   .btn :hover {
        background: linear-gradient(silver, silver);
    }

    
 



  
    